{% extends "layout.html" %}

{% block conteudo %}
{% if current_user.is_authenticated and current_user.status != 'nao_pago' %}
<div class="btn btn2">
    <a href="/">Voltar</a>
</div>
{% elif not current_user.is_authenticated %}
<div class="btn btn2">
    <a href="/login">Voltar</a>
</div>
{% endif %}
<div class="container" style="margin-top: 40px;">
    <div class="row text-center">
        <h2 style="color: #fff;">Escolha um Plano</h2>
        <hr>
    </div>

    <div class="row">
        {% for plano in planos %}
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-pricing">
                <div class="panel-heading text-center">
                    <h3>{{ plano[1] }}</h3>
                </div>
                <div class="panel-body text-center">
                    <p><strong>R$ {{ plano[2]/100 }} / mês</strong></p>
                    {% if plano[3] %}
                        <p style="font-size: 15px; color: #555;">{{ plano[3] }}</p>
                    {% endif %}
                </div>
                <div class="panel-footer text-center">
                    <form action="/create-checkout-session/{{ plano[0] }}" method="post">
                        <button type="submit" class="btn btn-success">Comprar</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
